# Generic
**/build
*.swp
*.user
*.log

# Android
.gradle
local.properties
captures
*.iml
*.apk
**/.idea/libraries/
**/.idea/caches/
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/.name
**/.idea/compiler.xml
**/.idea/copyright/profiles_settings.xml
**/.idea/encodings.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/scopes/scop
**/.idea/vcs.xml
**/app/release/

# OS
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
