# Generic
**/build
*.swp
*.user
*.log

# Android
src/android/.gradle
src/android/app/release
src/android/app/NoteVault.apk
/src/android/local.properties
/src/android/.idea/workspace.xml
/src/android/.idea/libraries
/src/android/captures

# OS
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
