[Desktop Entry]
Type=Application
Version=0.2
Name=Note Vault
Comment=Save notes securely
Exec=notevault %f
Icon=NoteVault
Terminal=false
Categories=Accessories
MimeType=application/x-secure-note
Name[en_US]=NoteVault
